<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="contents">
            {{{ contents }}}
        </div>

        {{#if development}}
            <script src="http://localhost:35729/livereload.js"></script>
        {{/if}}
    </div>

</body>
</html>