<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {{{ contents }}}

    {{! should be conditional }}
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>